$border: 1px solid rgb(75, 75, 75);
$border-dash: 1px dashed rgb(75, 75, 75); 
$bg-color: rgb(37, 37, 37);
$color-hover: rgb(48, 48, 48);
$color-active: rgb(66, 66, 66);
$color-hover-select: rgb(88, 88, 88);
$color-item: rgb(61, 61, 61);
$color-done: rgb(0, 141, 0);
$color-done-hover: rgb(0, 124, 0);
$color-done-active: rgb(0, 114, 0);
$color-delete: rgb(168, 0, 0);
$color-delete-hover: rgb(155, 0, 0);
$color-delete-active: rgb(133, 0, 0);